@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/*---------------------------------------------
scrollbar
----------------------------------------------*/
::-webkit-scrollbar {
    width: 6px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #3498db;
    /* Set the color of the thumb */
    border-radius: 6px;
    /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Set the color of the track */
}

/* Optional: Style scrollbar buttons */
::-webkit-scrollbar-button {
    display: none;
    /* Hide the scrollbar buttons */
}


@layer base {
    html {
        @apply bg-custom-image bg-cover bg-center bg-fixed scroll-smooth;
        font-family: 'Inter', sans-serif;
        scrollbar-width: thin;
        /* Set the width of the scrollbar */
        scrollbar-color: #8ccdf8 #f4f4f4;
    }
}
